.about {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #001f3f, #011826);
    color: #fff;
  }
  
  .about h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 400px;
    background: linear-gradient(90deg, cyan, #00ffea);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 5px #0ff;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50x;
    flex-wrap: wrap;
    
  }
  
  .about-image {
    width: 300px;
    height: 350px;
    border-radius: 20px; 
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.5);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    justify-content : left;
  }
  
  .about-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 0.8);
  }
  
  .about p {
    font-size: 1.4rem;
    max-width: 600px;
    line-height: 1.8;
    background: rgba(0, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    border-left: 5px solid cyan;
    backdrop-filter: blur(10px);
  }
  